body {
  font-family: Arial;
  margin: 0; /*Xóa khoảng cách mặc định của trình duyệt */
  background: #f1f1f1;
}

.dau-trang {
  background: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  /* Đẩy các phần tử ra 2 bên

      logo → bên trái
      search → bên phải
      menu → ở giữa
   */
  align-items: center;
  /* căn giữa theo chiều dọc */
  padding: 20px 40px;
  /* trên dưới, trái phải */
}

.logo {
  font-size: 25px;
  font-weight: bold;
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 15px;
}

.menu a:hover {
  color: #ddd;
  font-weight: bold;
}

.tim-kiem input {
  padding: 10px;
  border-radius: 5px;
}

/* ===== BANNER ===== */
.banner {
  height: 350px;
  background: red;
  position: relative;
  display: flex;
  align-items: center;
}

/* nội dung banner */
.noi-dung-banner {
  color: white;
  margin-left: 60px;
}

.noi-dung-banner h1 {
  font-size: 50px;
  margin: 0;
}

.noi-dung-banner p {
  font-size: 20px;
  margin: 10px 0;
}

/* nút banner */
.nut-banner {
  padding: 10px 20px;
  background: white;
  color: black;
  border: none;
  /* xóa viền mặc định */
  font-weight: bold;
  cursor: pointer;

  /* Khi rê chuột → hiện bàn tay */
  border-radius: 5px;
  transition: 0.3s;
}

.nut-banner:hover {
  background: black;
  color: white;
}

/* ===== DANH MỤC ===== */
.danh-muc {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.muc {
  background: white;
  padding: 10px 25px;
  border-radius: 30px;
  transition: 0.3s;
  cursor: pointer;
  margin-right: 20px;
}

.muc:hover {
  background: black;
  color: white;
}

/* ===== SẢN PHẨM ===== */
.noi-dung {
  padding: 30px;
}

.tieu-de {
  margin-bottom: 20px;
}

.danh-sach {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* chia thành 4 cột, mỗi cột bằng nhau(1fr) , muốn dùng cái này thì phải có display:grid */
}

.san-pham {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  /* Cắt phần thừa, làm cho ảnh ko bị tràn ra ngoài phần bo góc */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* Đổ bóng */
  transition: 0.3s;
  margin-right: 30px;
}

.san-pham:hover {
  transform: translateY(-8px);
  /* khi rê chuột card nhích lên 8px */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  /* khi rê chuột card đổ bóng đậm hơn */
}

.hinh {
  width: 100%;
  height: 250px;
  object-fit: cover;
  /* ảnh tự cắt cho vừa khung */
}

.thong-tin {
  padding: 15px;
  text-align: center;
}

.gia {
  color: red;
  font-weight: bold;
  margin: 10px 0;
}

.nut {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}

.nut:hover {
  background: #333;
}

/* ===== FOOTER ===== */
.chan-trang {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
